
      <header class="relative z-10 border-b border-gray-200 bg-white">
        <div class="flex items-center justify-between px-4 py-2 sm:px-6 lg:px-8">
          <div class="md:flex items-center">
            <a href="/components" class="block">
            <%# <a href="https://imgur.com/OSb4gD7"><img class="h-10 w-auto" src="https://i.imgur.com/OSb4gD7.png"></a> %>
            <a href="https://imgur.com/GGQjaD7"><img class="h-10 w-auto" src="https://i.imgur.com/6Qjy0Ll.png"></a>
            </a>

            <p class="hidden md:block mt-2 ml-3 font-medium text-gray-700 md:mt-0">
              <span class="hidden lg:inline">魔法公會薪資系統  Magic Guild Payroll System</span>
            </p>
          </div>

              <div class="flex text-sm">
            <a href="/components" class="font-medium text-gray-500 hover:text-gray-900">
            關於系統
            </a>
            <a href="/pricing" class="ml-4 font-medium text-gray-500 hover:text-gray-900 sm:ml-12">
            常見問題
            </a>
          </div>
            </div>
      
      </header>
      <main>
          <div class="bg-gray-900 py-8">
              <div class="max-w-8xl mx-auto py-20 px-4 sm:px-6 lg:px-8">
                  <div class="px-10 lg:grid lg:grid-cols-2 lg:gap-12 lg:items-center">
                  <div>
                  <a href="https://imgur.com/GGQjaD7"><img class="h-36 w-36 mx-auto" src="https://i.imgur.com/GGQjaD7.png"></a>
                  
                      <h2 class="mt-2 text-4xl font-semibold font-display text-white text-center">
                      魔法公會薪資系統 </br>
                      <span class="text-yellow-400">您探索未知世界的堅強後盾</span>
                      </h2>
                      <p class="mt-4 text-lg text-gray-300 max-w-3xl text-center text-gray-500 ">
                      擁有良好聲譽，將您消滅鬼怪、魔法生物所獲得的報酬，安全並直接地匯入您的個人帳號。
                      </p>
                      <div class="mt-6 flex">
                      <a href="https://vimeo.com/393580241/82c6d7c5f6" target="_blank" class="inline-flex items-start text-lg leading-6 font-medium text-teal-400 hover:text-teal-300 transition ease-in-out duration-150">
                        
                      <path vector-effect="non-scaling-stroke" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z"></path>
                      <circle vector-effect="non-scaling-stroke" cx="12" cy="12" r="9" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></circle>
                      </svg>

                      </a>
                      </div>
                  </div>
                  <div class="mt-8 lg:mt-24">
                      <div class="max-w-lg lg:ml-auto lg:max-w-xl">
                        <a href="" class="flex items-start rounded-lg border border-yellow-400 px-5 py-4 text-lg leading-6 font-medium text-white hover:bg-yellow-400 hover:text-black transition ease-in-out duration-150">

                          <span style="font-size:20px;"><i class="fas fa-user"></i></span>
                          <p class= "pl-4">新手村學徒</p>
                          <div class="ml-auto mt-0.5 pl-4">
                          <svg class="h-5 w-5 text-white  " viewBox="0 0 20 20" fill="currentColor">
                          <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                              </svg>
                            </div>
                        </a>
                        <a href="" class="mt-3 flex items-start rounded-lg border border-yellow-400 px-5 py-3 text-lg font-medium text-white hover:bg-yellow-400 hover:text-black transition ease-in-out duration-150">
                    
                        <span style="font-size:20px;"><i class="fas fa-jedi"></i></span>
                      <p class= "pl-4">資深魔法師</p>
                        
                        <div class="ml-auto mt-0.5 pl-4">
                          <svg class="h-5 w-5 text-white" viewBox="0 0 20 20" fill="currentColor">
                          <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                          </svg>
                        </div>
                      </a>
                      <a href="" class="mt-3 flex items-start rounded-lg border border-yellow-400 px-5 py-3 text-lg font-medium text-white hover:bg-yellow-400  hover:text-black transition ease-in-out duration-150">
                      <span style="font-size:20px;"><i class="fas fa-user-cog"></i></span>
                      <p class= "pl-4">工會幹部</p>
                      
                          <div class="ml-auto mt-0.5 pl-4">
                          <svg class="h-5 w-5 text-white" viewBox="0 0 20 20" fill="currentColor">
                              <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                          </svg>
                          </div>
                      </a>
                      </div>
                  </div>
                  </div>
              </div>
          </div>
      </main>
      <footer class="footer bg-yellow-400">
        <div class="container mx-auto py-4 text-center text-gray-700 font-medium  ">
            © 2021 by Jocelyndev
          </div>
        </div>
      </footer>
